<h1>{{ name() }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ name() }}</dd>

  <td>Edad:</td>
  <dd>{{ age() }}</dd>

  <td>Método:</td>
  <dd>{{ heroDescription() }}</dd>

  <td>Capitalizado:</td>
  <!-- ! Intentar  -->
  <dd>Usando variable y upper {{ name().toUpperCase() }} </dd>
  <dd>función {{ capitalizeName() }} </dd>
  <dd>Computado {{ heroCapitalizeName() }} </dd>
  <dd> caso con PIPES {{ name() | uppercase}} </dd>


</dl>

<button (click)="changeHero()" class="btn btn-info mx-2">
  Cambiar nombre
</button>

<button class="btn btn-info" (click)="changeAge()">Cambiar edad</button>

<button (click)="resetForm()" class="btn btn-info mx-2">Reset</button>
